<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <section>
      <h1>About Me</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat
        commodi nam fugit, corporis id dicta cumque adipisci exercitationem.
        Nobis velit fugit, tempore quas quam quibusdam molestiae tempora
        aspernatur. Ipsa voluptatem facilis dolorem sapiente quas porro quos at
        consequuntur ducimus possimus, modi atque, soluta amet magnam iste ab
        quo minima maxime consequatur dolores itaque nesciunt nemo non ut.
        Perspiciatis omnis necessitatibus voluptas quos exercitationem. Sequi
        dicta adipisci, saepe est, explicabo tenetur, excepturi repudiandae
        voluptates quaerat minima ipsum omnis optio? Inventore vel tempora
        sapiente consequatur perspiciatis non et iure repudiandae veritatis
        corporis, consequuntur, ratione laborum magnam ad adipisci excepturi
        quis consectetur explicabo!
      </p>
    </section>
  </body>
</html>
