<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <section>
      <div>
        <h1>Contact me</h1>
        <form>
          <h3>Email</h3>
          <input type="text" placeholder="Email" />
          <h3>Message</h3>
          <input type="text" placeholder="Write a Message" />
          <button>Save</button>
        </form>
      </div>
    </section>
  </body>
</html>
