<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation') %> 
    <section>
      <img src="https://avatars.githubusercontent.com/u/80985958?v=4" />
      <h1>Steven Marchena Caballero</h1>
      <button><a href="/about">About Me</a></button>
    </section>
  </body>
</html>
